#our_body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

a {
  color: #00B7FF;
}

#our_omments {
  width: 95%;
  display: flex;
  flex-direction: column;
}

iframe {
  width: 100%;
  height: 1000px;
}
